*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  scrollbar-width: thin;
}

a{
  text-decoration: inherit;
  color:inherit;
}

.app{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  border: 10px solid rgb(127, 143, 156);
  /* margin: 5px; */
  padding: 5px;
}